/**********
Universal Styles
**********/

* {
	box-shadow: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: tomato;
	font-size: .8em;
	font-size: 1.5em;
}

body button,
body a {
	font-size: .8em;
}

a:visited,
a:link {
	text-decoration: none;
	color: initial;
}

/**********
Main Styles
**********/

main {
	margin: auto 0;
	color: tomato;
	background: #fff;
	padding: 20px;
	border-radius: 10px;	
	max-width: 90%;
}

.author {
	text-align: right;
}

.new_quote {
	text-align-last: right;
}

.buttons {
	display: flex;
}

.buttons a:first-child {
	margin-right: auto;
}

.buttons button,
.buttons a {
	outline: none;
	color: tomato;
	background: #fff;
	border: 1px solid tomato;
	padding: 10px 15px;
	border-radius: 33px;
	cursor: pointer;
}

.trance {
	transition: all .5s;
}

/**********
Media Queries
**********/

@media (min-width: 320px),  (min-width: 0) {
	body {
		font-size: 1.2rem;
	}

	.buttons button,
	.buttons a {
		padding: 5px 10px;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 1.5rem;
	}

	.buttons button,
	.buttons a {
		padding: 10px 15px;
	}
}

@media (min-width: 1024px) {
	body{
		font-size: 1.3rem;
	}
}